  <!-- Site footer -->
  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>About</h6>
          <p class="text-justify"> I am Mahmudul Haque.I have completed B.Sc. in information technology with CGPA 3.3 and looking for a FullTime job in a  IT company.
            Having a position in a such company that requires assistance in computer science engineer would develop my skills to a professional level. As it will be my first job experience, so I am satisfied with the facilities provided.
             </p>
        </div>


        <div class="col-xs-6 col-md-3">
          <h6>Quick Links</h6>
          <ul class="footer-links">
            <li><a href="https://www.linkedin.com/in/mahmudulhaque-shagor-157186143/">About Me</a></li>
            <li><a href="https://www.linkedin.com/in/mahmudulhaque-shagor-157186143/">Contact Me</a></li>
            
          </ul>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2019 All Rights Reserved by 
       <a href="https://www.linkedin.com/in/mahmudulhaque-shagor-157186143/">Mahmudul Haque</a>.
          </p>
        </div>

      
      </div>
    </div>
</footer>